#gorilla_page {
  width: 100%;
  padding: 0 30px;

  .gorilla_page-title{
    text-align: start;
    font-size: 45px;
    padding: 20px 0 ;
    font-weight: 900;
  }
  img{
    width: 100%;
  }
  .gorilla_page-text{
    text-align: start;
    font-size: 20px;
    padding:  0 0 40px 0;

  }
  .gorilla_page-btn{
    background: rgba(197, 40, 40, 1);
    display: block;
    border: none;
    outline: none;
    margin: 40px auto;
    padding: 10px 20px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 800;
    border-radius: 12px;
    width: 100%;
  }
}